[submodule "public"]
	path = public
	url = git@github.com:noamelf/noamelf.github.io.git
	branch = master
[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
